.background {
    background-image: url(../media/garden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 85vh;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 20px 5px black;
}

.home-container {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
}

.home-content-container {
    display: flex;
    flex-direction: row !important;
    align-items: start !important;
    height: 150vh;
}

.banner {
    color: white;
    font-size: 3em;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  
.banner h1 { 
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: 'Rubik Dirt', serif;
    width: 100%;
    color: rgb(230, 255, 5);
}

.banner h3 {
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2px 40px;
    border-radius: 15px;
    font-family: 'Outfit', serif;
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.banner p {
    font-size: 1rem;
    font-family: 'Outfit', serif;
    background-color: rgba(23, 80, 0, 0.9);
    width: fit-content;
    padding: 4px 30px;
    font-weight: bold;
    border-radius: 15px;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    color: rgb(255, 196, 0);
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.p-animation {
    transform: translateY(0) !important; 
    opacity: 1 !important;
}

.h3-animation {
    transform: translateY(0) !important; 
    opacity: 1 !important;
}

  
.banner-animation {
    opacity: 1; 
    transform: translateY(0);
}

.home-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.beforeAfters {
    width: 40%;
    height: 99%;
    font-family: 'Outfit', serif;
    margin-right: 15px;
    background-color: var(--color-secondary);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-services-container > .content-section {
    margin: 20px;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.home-services-container > .content-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-services-container > .content-section > div > h2 {
    text-transform: uppercase;
    font-family: 'Rubik Dirt', serif;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    width: 90%;
}

#root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > div > p {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--color-secondary);
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

#root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
    background-color: lightgray;
    border-radius: 10px;
    font-size: 1rem;
}

.home-services-container > .content-section > div > p,
#root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
    margin: 20px;
    width: 95%;
    text-align: center;
    font-family: 'Outfit', serif;
}

.home-services-container > .content-section > img {
    height: 45%;
    width: 92%;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}

.home-services-container > div > .css-1ricwku-MuiButtonBase-root-MuiToggleButton-root {
    font-family: 'Outfit', serif;
}



.home-services-container > div:first-child {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.beforeAfters > h3 {
    font-family: 'Rubik Dirt', serif;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px;
    width: 90%;
    letter-spacing: 5px;
}

.carousel-slide, .carousel-slide > img, .carousel-slider-wrapper {
    height: 100% !important;
    display: block;
}

.carousel-slide > img {
    object-fit: contain;
}

.carousel-caption {
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-caption > h3 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    color: white;
    width: fit-content;
    padding: 5px 25px;
}

.carousel-caption > p {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: fit-content;
    padding: 1px 5px;
}

@-webkit-keyframes fadeEffect {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@keyframes fadeEffect {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeEffect2 {
    0% { background-color: rgba(0, 0, 0, 0.9); }
    100% { background-color: #8b8515; } 
}
  
@keyframes fadeEffect2 {
    0% { background-color: rgba(0, 0, 0, 0.9); }
    100% { background-color: #8b8515; }
}

@-webkit-keyframes fadeInverse {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@keyframes fadeInverse {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeInverse2 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@keyframes fadeInverse2 {
    0% { background-color: #8b8515; }
    100% { background-color: rgba(0, 0, 0, 0.9); }
}

.home-services-container > div > button {
    width: 100%;
}

.home-services-container > div > button.Mui-selected {
    width: 100%;
    animation: fadeEffect2 1s ease-in-out forwards;
}

.home-services-container > div > button.Mui-selected.hide {
    animation: fadeInverse2 0.5s ease-in-out forwards;
}

.content-section {
    opacity: 0;
    animation: fadeEffect 2s ease-in-out forwards; /* Apply the animation */
}

.content-section.show {
    opacity: 1;

}

.content-section.hide {
    opacity: 0;
    animation: fadeInverse 0.5s ease-in-out forwards;
}
  /* Other styles */
  

/* Media Queries */
@media (max-width: 1200px) {

    #root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
        font-size: 0.9rem;
    }

    .banner {
        font-size: 2em; /* Adjust font size */
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner h3 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    #root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
        font-size: 1.1rem;
    }

    .home-content-container {
        flex-direction: column !important;
        align-items: center !important;
    }

    .home-services-container,
    .beforeAfters {
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
    }

    .beforeAfters {
        width: 82%;
    }

    .banner {
        font-size: 1.5em; /* Adjust font size */
    }

    .banner h1 {
        font-size: 3.8rem;
    }

    .banner h3 {
        font-size: 1.3rem;
    }

    .banner p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) { 
    #root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
        font-size: 0.9rem;
    }

    .beforeAfters {
        position: relative;
        margin-top: 75px;
        width: 78%;
    }

    .banner {
        font-size: 1.5em;
        padding: 5px;
    }

    .banner h1 {
        font-size: 3.5rem;
        line-height: 60px;
    }

    .banner h3 {
        font-size: 1rem;
    }

    .banner p {
        font-size: 0.9rem;
    }
    
    #root > div > div.App > div.home-services-container > .content-section > p {
        display: none;
    }
}

@media (max-width: 480px) {
    .carousel-caption {
        font-size: 0.6rem !important;
    }

    .beforeAfters {
        width: 75%;
        margin-top: 15px;
    }

    .banner {
        font-size: 1.5em; 
    }

    .banner h1 {
        font-size: 3.2rem;
    }

    .banner h3 {
        font-size: 0.7rem;
    }

    .banner p {
        font-size: 0.7rem;
        padding: 5px 60px;
    }
    #root > div > div.App > div.home-content-container > div.home-services-container > div.content-section > p {
        display: none;
    }

    .beforeAfters > h3 {
        font-size: 1.5rem;
    }
}