@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik+Dirt&family=Slabo+13px&display=swap');


body {
    margin: 10px 0px;
}

header {
    background-color: rgba(0,0,0, 0) !important;
    border-radius: 15px;
}

#Navbar {
    border-radius: 15px;
    background-color: var(--color-secondary) !important;
    display: block;
    margin: 0px 10%;
}


.css-1ygil4i-MuiToolbar-root {
    min-height: 50px !important;
}

.css-1bv5yfe-MuiTypography-root {
    font-family: 'Rubik Dirt', serif !important;
}

.css-plnrbk-MuiButtonBase-root-MuiButton-root,
.css-rizt0-MuiTypography-root {
    font-family: 'Outfit', serif !important;
    font-weight: bold !important;
}

.css-plnrbk-MuiButtonBase-root-MuiButton-root {
    border: 1px solid darkgreen !important;
    margin: 0px 5px !important;
    border-radius: 10px !important;
    background-color: var(--color-tertiary) !important;
}

.css-i9gxme {
    border: 1px solid darkgreen;
    border-radius: 15px;
}

#nav-links {
    margin: 80px 0px 0px 20px !important;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(1, 182, 1);
    border: 1px solid darkgreen;
    color: white;
}

@media (max-width: 768px) {
    #Navbar {
        margin: 0px 20px !important;
    }
}